<div class="dashboard">

  <div class="naslov">
  <h1>Admin panel</h1>
  </div>
  <hr>

  <div class="button-div">
  <button mat-raised-button class="brend" onclick="window.location.href='/Pregled-brenda'" color="primary" >Brend</button>
  <button mat-raised-button class="namena" onclick="window.location.href='api/Pregled-namene'" color="primary">Namena</button>
  <button mat-raised-button class="tip" onclick="window.location.href='/Pregled-tipa'" color="primary">Tip</button>
  <button mat-raised-button class="kolekcija" onclick="window.location.href='/Pregled-kolekcije'" color="primary">Kolekcija</button>
  <button mat-raised-button class="proizvod" onclick="window.location.href='/Pregled-proizvoda'" color="primary">Proizvod</button>
  </div>

</div>
