
<body>
  <main>
    <header id="site-header">
      <div class="container">
        <h1 style="font-weight: 500; color: #FFD740;">Korpa</h1>
      </div>
    </header>

    <div class="container">

      <section id="cart">
        <article class="product" *ngFor="let productIC of productsInCart">
          <header>
            <a class="remove" (click)="removeProduct(productIC)">
              <img [src]="'assets/product-' + (productIC.proizvodId) + '.jpg'">
              <h3>Remove product</h3>
            </a>
          </header>
          <div class="content">
            <h1>{{ productIC.proizvod.brend.nazivBrenda }} {{ productIC.proizvod.kolekcija.nazivKolekcije }} {{ productIC.proizvod.model }} </h1>
            <p  >{{ productIC.proizvod.sastav}}</p>
          </div>
          <footer class="content">
            <span class="qt-minus" (click)="decrementQuantity(productIC)">-</span>
            <span class="qt" >{{ productIC.brojKomada }}</span>
            <span class="qt-plus" (click)="incrementQuantity(productIC)">+</span>
            <h2 class="full-price" >
              {{ calculateSumPerProduct(productIC)}}RSD
            </h2>
            <h2 class="price" >
              {{ productIC.proizvod.cenaPoKom }} RSD
            </h2>
          </footer>
        </article>
      </section>
    </div>

    <footer id="site-footer">
      <div class="container clearfix">

        <div class="left">
          <h2 class="subtotal">Cena bez poštarine: {{ setIznos() }}.00 RSD</h2>
          <h3 class="shipping">Isporuka:
            <ng-container *ngIf="shipping(setIznos()) === 0; else paidShipping">Besplatno :)</ng-container>
            <ng-template #paidShipping>300.00 RSD</ng-template>
          </h3>

        </div>

        <div class="right">
          <h1 class="total">Ukupno: <span>{{ sum(setIznos(),shipping(setIznos())) }}</span>.00 RSD</h1>
          <a class="btn" [routerLink]="'/Isporuka'" (click)="addBill()">Završi kupovinu</a>
        </div>

      </div>
    </footer>
  </main>
</body>
