<div class="page-header">
  <div class="container">
    <h1>Kolekcija</h1>


  </div>
</div>
<hr>
<button mat-raised-button class="dugme" onclick="window.location.href='Kolekcija'" color="primary">Dodaj</button>
  <hr>
<div class="container mat-elevation-z8">
  <table mat-table matSort [dataSource]="dataSource" class="">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- proizvodjac Column -->
    <ng-container matColumnDef="nazivKolekcije">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Naziv Kolekcije </th>
      <td mat-cell *matCellDef="let element"> {{element.nazivKolekcije}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/Pregled-kolekcije',element.kolekcijaId]">
          <mat-icon color=primary>edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>



</div>
